.devsite-top-section {
    background-color: #039be5;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    position: static;
    top: 0;
    width: 100%;
    z-index: 10005;
}

.devsite-top-logo-row-wrapper-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10006;
}

.devsite-top-logo-row-wrapper {
    background: #fff;
}

.devsite-top-logo-row {
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    padding: 0 24px;
    position: relative;
}

.header-upper-tabs
{
    display: inline-block;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    overflow-y: auto;
    vertical-align: top;
    transition: flex .2s,margin .2s,width .2s;
    transition: flex .2s,margin .2s,width .2s,-ms-flex .2s;
}

.devsite-doc-set-nav-tab-list {
    white-space: nowrap;
}

.devsite-overflow-tabs-scroll {
    left: 0;
    position: relative;
    transition: left .2s;
    width: 100%;
}

.tab-container{
display: inline-block;
margin: 0;
}


.devsite-doc-set-nav-tab {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    color: rgba(255,255,255,.7);
    display: inline-block;
    font: 500 14px/44px Roboto,sans-serif;
    margin: 0;
    padding: 0 24px;
    text-transform: uppercase;
    transition: color .2s;
}

input.devsite-search-field {
    background: 0;
    border: 0;
    color: #757575;
    height: 36px;
    padding: 8px 8px 8px 72px;
    transition: color .2s;
    width: 100%;
}

.x{
flex-direction: row;}

.a{
float: left; width: 33%;}

.c{
	float: right; width: 33%;
}
.b{
	display: inline-block; width: 33%; 
}

.container-1{
	padding: 8px 8px 8px 72px;
	background-color: #fff;
border-radius: 4px;
box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
}

.container-1-header{
	color: #757575;
	font-size: 40px;
}

.container-1-footer{
    background-color: #f5f5f5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 60px -114px -80px;
    padding: 40px 114px;
}